/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

.navbar-brand{
	color: white;
}

a:visited, a:hover{
	color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default {
	background: #444649;
	color: white;
}

.fa-2x, .nav {
    font-size: 15px;
    font-family: FontAwesome;
}

ul {
	list-style: none;
}

.show_user {
	width: 200px;
	height: 200px;

}

.thumb {
	width: 25px;
	height: 25px;


}
.well{
	background: #edf1f7;
	text-align: center;
}
.well a:visited{
	color: black;
}
.well a:hover{
	color: blue;
	background: white;
}

body {
	background: #8aa9d8;
}

.inner {
	background: white;
}
h1 {
	text-align: center;
}

.profiles {
	height: 450px;
	width: 350px;

}

.profile_pic{
	height: 200px;
	width: 200px;

}
.login {
	min-height: 400px;
}